.many{
    border:3px solid blue;
    width:175px;
    margin:0 auto;
    background-color: rgb(43, 43, 153);
}
.many2{
    widows: 100%;
    background-color:whitesmoke;
    color: black;
}
.btn{
 width:40px;
 margin: 0.3px;
}
/* .Clearbtn{
 width:85px;
} */